@media (max-width: 1280px) {
  .target-note {
    position: absolute;
    bottom: 40%;
  }

  .target-values {
  }
}
@media (max-width: 426px) {
  .target-note {
    position: absolute;
    bottom: 25%;
  }

  .target-values {
    position: absolute;
    bottom: 0%;
  }
}
