@media (max-width: 1300px) {
  .sidebar {
    width: 20%;
  }
  .right-content{
    width: 80%
  }
}

@media (max-width: 950px) {
  .sidebar {
    width: 25%;
  }
  .right-content{
    width: 75%
  }
}
@media (max-width: 769px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 426px) {
  .main-content {
    width: 100%;
  }
}
